<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../static/mystyle.css"
	th:href="@{/mystyle.css}">
<meta charset="ISO-8859-1">
 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<title>View All Users...</title>
</head>

<body>

	<!-- <span th:text="'Name Is=> '+${name}"></span>
	<br>
	<span th:text="'Email Is=> '+${email}"></span>
	<br>
	<span th:text="'Password Is=>'+${password}"></span>
	<br>
	<span th:text="'Salary Is=>'+${salary}"></span>
 -->
<br>
	<br>
	<br>
<div th:switch="${users}" class="container">
    <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            <h2>Users</h2>
             <p><a href="/signup" class="btn btn-primary" role="button">Add a new user</a></p>
<div class="table-responsive">
	<table class="table table-bordered table-hover table-sm table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>Password</th>
				<th>Salary</th>
				<th>Action</th>
				
			</tr>
		</thead>
		<tr th:each="user : ${users}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.name}" class="text-primary"></td>
			<td th:text="${user.password}"></td>
			<td th:text="${user.email}" class="text-danger"></td>
			<td th:text="${user.salary}"></td>
			<td>
				<div class="btn-group" role="group">
					<a th:href="@{/edit/{id}(id=${user.id})}" class="btn btn-info btn-sm" role="button">Edit</a>
            		<a th:href="@{/delete/{id}(id=${user.id})}" class="btn btn-danger btn-sm" role="button">Delete</a> 
            		
				</div>
			</td>
		</tr>
		<tbody>

		</tbody>
	</table>
	</div> 
 </div>      
   
</div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>